<link rel="stylesheet" href="bootstrap-reboot.min.css">
<link rel="stylesheet" href="style.css">
<title>button</title>

<h1>normal</h1>

<div>
  <button class="button purple caps">
    Learn more
  </button>

  <button class="button blue">
    Sign Up
  </button>

  <button class="button green">
    Overview
  </button>
</div>

<hr>

<h1>rounded</h1>

<div>
    <button class="button rounded purple caps">
      Learn more
    </button>
  
    <button class="button rounded blue">
      Sign Up
    </button>
  
    <button class="button rounded green">
      Overview
    </button>
  </div>