// for development
body {
    margin: 14px;
}

// button
.button {
    padding: 10px 20px;
    border-radius: 3px;
    border: 0;

    &.purple {
        background: purple;
        color: #fff;
    }

    &.blue {
        background: blue;
        color: #fff;
    }

    &.green {
        background: green;
        color: #fff;
    }

    &.caps {
        font-style:italic;
    }

    &.rounded {
        border-radius: 24px;
        padding: 10px 24px;
    }
}